<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SRC厂商搜索</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: honeydew;font-size: 2rem" href="#">SRC厂商搜索平台</a>
        </div>
    </div>
</nav>
<div style="width: 100%;">
    <input style="width: 50%;margin: 5% auto 0;border-radius: 15px;" type="search" id="name"
           name="name" class="form-control" placeholder="搜索厂商">
</div>
<div id="demo"></div>

<div th:replace="include::footer"></div>
<script>
    $(function () {
        iLoad()
    });
    $('#name').bind('keyup', function (e) {
        if (e.key === 'Enter') {
            $('#demo').html('');
            iLoad($('#name').val())
        }
    });

    function iLoad(name, offset, limit) {
        var search = '';
        if (name) {
            search = '&name=' + name;
        }
        if (!offset) offset = 0;
        if (!limit) limit = 20;
        $.get('src/list?offset=' + offset + '&limit=' + limit + search, function (data, status) {
            var rows =[];
            rows=data.rows;
            for (var i = 0; i < rows.length; i++) {
            	 $('#demo').append('<div class="logo">' +
                         '<a class="imgBtn" target="_blank" href="/src/treeView?srcId=' + rows[i].id + '">' +
                         '<img src="' + rows[i].imgUrl + '"/>' +
                         '</a>' +
                         '<div class="detail"><iframe class="ff" src="src/view/' + rows[i].id + '"></iframe></div>' +
                         '</div>')
            }
        })
    }
</script>
</body>
</html>